<form (ngSubmit)="onSubmit()">

    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input id="initial-investment" type="number" name="enterInitialInvestment" [(ngModel)]="enterInitialInvestment"/>
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input id="annual-investment" type="number" name="enterAnnualInvestment"  [(ngModel)]="enterAnnualInvestment"/>
        </p>
    </div>

    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" type="number" name="enterExpectedReturn"  [(ngModel)]="enterExpectedReturn"/>
        </p>
        <p>
            <label for="Duration">Duration</label>
            <input id="Duration" type="number" name="enterDuration"  [(ngModel)]="enterDuration"/>
        </p>
    </div>
    <p>
        <button>Button</button>
    </p>

</form>